<div class="card mb-5" style="width: 18rem;">
  <img class="card-img-top" src={{this.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class='zip-code'>{{this.code}}</p>
    <p class="card-text">{{this.description}}</p>
    <a href="/companies/{{this._id}}" class="btn btn-primary">Details</a>
  </div>
</div>