<form action="/companies/create" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input value="{{this.name}}" type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="code">Code</label>
    <input value="{{this.code}}" type="text" class="form-control" id="code" name="code" placeholder="Enter code">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input value="{{this.image}}" type="text" class="form-control" id="image" name="image" placeholder="Enter image">
  </div>
    <div class="form-group">
    <label for="money">Money</label>
    <input value="{{this.money}}" type="text" class="form-control" id="money" name="money" placeholder="Enter money">
  </div>
    <div class="form-group">
    <label for="description">Description</label>
    <input value="{{this.description}}" type="text" class="form-control" id="description" name="description" placeholder="Enter description">
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>